    body {
        background-color: #03202b;
        padding: 1%;
} 


   #Foto {
       float:left;
        height: 150px;
        padding: 3px;
        background-color: rgb(255, 255, 255);
   }


   .header-img-text {
       height: 200px;
       position: relative;
   }

    h1 {
        color: #f8f8f8;
        font-family: 'Lucida Sans', sans-serif;
        text-align: center;
}


    .foto-jp {
         border-radius: 50%;
            }


    p {
        color: #e8f0f8;
        font-family: 'Lucida Sans', sans-serif;
        line-height: 20px;
         text-align: left;
         position: absolute;
         left: 12%;
         top: 30%;
}


    #empatia {
        color: #e8f0f7;
        font-size: large;
        font-family: 'Lucida Sans', sans-serif;
}


    .res-conflitos {
        color: #e8f0f7;
        font-size: medium;
        font-family: 'Lucida Sans', sans-serif;
}


    .comprometimento {
        color: #e8f0f7;
        font-size: medium;
        font-family: 'Lucida Sans', sans-serif;
}


    .decoration {
        text-decoration: none;
        font-family: 'Lucida Sans', sans-serif;       
}


    h3 {
        color: #e8f0f8;
        font-family: 'Lucida Sans', sans-serif;
        font-size: 25px;
        text-decoration: underline;
        padding-left: 12%;        
}


    h4 {
        color: #e8f0f8;
        font-family: 'Lucida Sans', sans-serif;
        font-size: 25px;
        text-decoration: underline;
}

ul li:nth-child(odd) {
    background-color: rgba(44, 27, 27, 0.603);
    width: 11%;
}
